@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Admin
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    093 12345 678
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:cuongyd196@gmail.com">adminabc123@gmail.com</a><br />
</address>