@{ 
    ViewBag.Title = "ICT SHOP";
    Layout = "~/Views/Shared/_Layout.cshtml";
  }

<br />

<div>
    <img class="img-responsive" src="~/HinhanhSP/ban1.jpg" />
</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3 style="text-align: center; margin-top: 45px;"> SẢN PHẨM NỔI BẬT</h3>
        <div class="col-md-4">
            <img src="~/HinhanhSP/spnb1.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/spnb2.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/spnb3.png" class="img-responsive" alt="" />
        </div>
    </div>
</div>

<div class="dt">
    @Html.Action("dtIphonePartial", "Sanpham")

</div>
<div class="dt">

    @Html.Action("dtSamSungPartial", "Sanpham")
</div>

<div class="dt">

    @Html.Action("dtXiaomiPartial", "Sanpham")
</div>

